/*Variables de colores*/
:root {
  --primaryColor: #4caf50;
  --secondaryColor: #ffffff;
  --backgroundColor: #f4f4f4;
  --textColor:#333333;
}

/*General*/
body {
  font-family: 'Arial',sans-serif;
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

/*Navegación*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--secondaryColor);
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

/*Hero Section*/
.hero {
  padding:100px 20px;
  text-align: center;
  background:var(--primaryColor);
  color: var(--secondaryColor);
}

.hero h1 {
  font-size: 2.5rem;
  margin: 0;
}

.hero p {
  margin-top: 10px;
  font-size: 1.2rem;
}

/*Secciones*/
section {
  padding: 60px 20px;
}

section h2 {
  text-align: center;
  color: var(--primaryColor);
  margin-bottom: 20px;
}

/*Habilidades*/
#skills {
  padding: 60px 20px;
  background-color:var(--backgroundColor);
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skills-container div {
  background-color: var(--secondaryColor);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding:20px;
  width: 150px;
  text-align: center;
}

/*Proyectos*/
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: var(--secondaryColor);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  padding: 15px;
  font-size: 1.2rem;
}

.project-card a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: bold;
}

/*Contacto*/
.contact form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input, .contact button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  justify-self: center;
}

.contact button {
  width: 100px;
  justify-self: center;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border: none;
  cursor: pointer;
}

.contact button:hover {
  background-color: #388e3c
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f9;
  color: #000;
  margin-top: 20px;
}

footer a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}